<h1> How many games did I win in Overwatch? </h1>

<form action="/result" method="GET">
    <input type="text" placeholder="ID" name="name">
    <input type="text" placeholder="BattleTag" name="tag">
    <input type="submit">
</form>