<h1> Friend List </h1>

<% friends.forEach(function(friend) { %>
 <li> <%= friend %> is my friend  </li>
<% }); %> 

<form action="/addFriend" method="POST">
    <input type="text" name="newFriend" placeholder="name">
    <button> I made a new friend </button>
</form>